<ion-header id="showcase">
  <div class="showcase-container">
    <div class="container">
    <div class="showcase-content">
      <p>Welcome</p>
      <h1>Bolaji Doyin</h1>
    </div>
  </div>
  </div>
</ion-header>


<ion-content>

  <div class="top-most-container">

    <div class="center-div">
      <ion-item class="trip-ended">Trip Ended</ion-item>
    </div>
    
    <div class="right-div">
      <ion-item class="completed">Completed</ion-item>
    </div>

    <div class="top-most-container-2">

      <div class="img-div">
        <ion-item class="img">
          <img src="../../assets/home1pix.png" alt="">
          <h1 class="text1">Bayo Adekunle</h1>
        </ion-item>
      </div>

      <div class="second-top-most-container-3">

        <div class="p-and-h-div-1">
            <h1>Date</h1>
            <p>10/02/2019</p>
          <!-- <ion-item class="date"></ion-item> -->
        </div>

        <div class="p-and-h-div-2">
            <h1>Time</h1>
            <p>3:00 PM - 11:00 PM</p>
          <!-- <ion-item class="time"></ion-item> -->
        </div>

        <div class="p-and-h-div-3">
            <h1>Pick-up-Location</h1>
            <p>5, Jonathan Arepo Close,</p>
            <p>Obafemi-Owode Ogun State.</p>
          <!-- <ion-item class="pickup"></ion-item> -->
        </div>

        <div class="p-and-h-div-4">
          <h1>Total time</h1>
            <p>20 hours</p>
          <!-- <ion-item class="total-time"></ion-item> -->
        </div>

      </div>

    </div>
    
  </div>

</ion-content>
