#showcase { 
    color: #fff;
    background: rgba(0, 0, 0, 0.58);
    padding: 2rem;
    position: relative;
  }
  
  #showcase:before {
    content: '';
    background: url('../../assets/steer.png') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
  }
  
  #showcase .showcase-container {
    /* changes here */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    height: 35vh;    
  }
  
  #showcase .showcase-content {
    z-index: 1;
  }
  
  #showcase .showcase-content p {
    margin-bottom: 0.5px;
    font-weight: bold;
  }
  
  #showcase .showcase-content h1 {
    margin-top: 0.5px;
    font-weight: bold;
  }

//   %%%%%%%%%%%
//     CONTENT
//   %%%%%%%%%%%

ion-content {
  height: 350px!important;
}

ion-content .top-most-container {
    //border: 1px dashed red;
    height: 100%;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 4px 0px 15px #000000;
    border-radius: 12px;
}

ion-content .center-div {
    //border: 1px dashed red;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    //transform: rotate(-0.2deg);
    display: flex;
    justify-content: center;
    align-items: center;
    //margin-bottom: 1rem;
}

ion-content .right-div {
    //border: 1px dashed red;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    //margin-top: 1rem;
}

ion-content .trip-ended {
    //border: 1px dashed red;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #673AB7;
    
    
}



ion-content .completed {
    //border: 1px dashed red;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    //letter-spacing: -0.165px;
    color: #1EA61E;
    
}

.top-most-container .top-most-container-2 {
    width: 100%;
    //border: 1px dashed red;
    height: 62%;
    display: flex;
    margin-top: 0px;

}

.top-most-container .img-div {
  display: flex;
  flex-direction: column;

}

.top-most-container .img-div img {
  width: 115px;
  height: 115px;
  margin-right: 1rem;
  margin-left: 1rem;
}

.top-most-container .img-div h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  //letter-spacing: -0.165px;
  color: #000000;
  margin: 3px 0px;
}

.second-top-most-container-3 {
  width: 200px;
}

.second-top-most-container-3 .p-and-h-div-1 h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  //letter-spacing: -0.165px;
  color: #673AB7;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 1px;

}

.second-top-most-container-3 .p-and-h-div-1 p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  //letter-spacing: -0.165px;
  color: #000000;
  margin-top: 3px;
  margin-bottom: 3px;
}

.second-top-most-container-3 .p-and-h-div-2 h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  //letter-spacing: -0.165px;
  color: #673AB7;
  text-align: left;
  margin: 3px 0px;


}

.second-top-most-container-3 .p-and-h-div-2 p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: left;
  //letter-spacing: -0.165px;
  color: #000000;
  margin: 3px 0px;
}

.second-top-most-container-3 .p-and-h-div-3 h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 18px;
  //letter-spacing: -0.165px;
  color: #673AB7;
  margin: 3px 0px;


}

.second-top-most-container-3 .p-and-h-div-3 span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  color: #000000;
  margin: 3px 0px;

}

.second-top-most-container-3 .p-and-h-div-4 h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 18px;
  //letter-spacing: -0.165px;
  color: #673AB7;
  margin: 3px 0px;
}

.second-top-most-container-3 .p-and-h-div-4 p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: left;
  //letter-spacing: -0.165px;
  color: #000000;
  margin: 3px 0px;
}





