<ion-header>
  <ion-toolbar class="toolbar-container">
    <ion-buttons slot="start">
        <ion-back-button [routerLink]="['/profile']" defaultHref="notification-summary" color="light" style="--icon-margin-start:8px; --icon-font-size:26px" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>  
    <ion-title style=" color:#FFFFFF; font-weight:bold; font-style:normal; font-family:Roboto; font-size:21px;">FAQ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="empty-container"></div>

  <ion-list>
    <ion-item>
      <ion-label class="label1" position="floating">Is there anyway I could earn more?</ion-label>
      <ion-input></ion-input>
      <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
    </ion-item>

    <!-- The div here with class hidden1 has a display of hidden -->
    <div style="display:none;" class="hidden1">
      <h3>
        You could earn more money by Lorem ipsum dolor and furthermore
       you could also lorem as long as it falls with the confines of the law and
        our terms of privacy
      </h3>
      
    </div>

    <ion-item>
      <ion-label class="label2" position="floating">How do I cancel?</ion-label>
      <ion-input></ion-input>
      <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label class="label3" position="floating">What happens if the client cancels the ride?</ion-label>
      <ion-input></ion-input>
      <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label class="label4" position="floating">When do I get paid?</ion-label>
      <ion-input></ion-input>
      <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label class="label5" position="floating">How do I get paid</ion-label>
      <ion-input></ion-input>
      <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
    </ion-item>






  </ion-list>




</ion-content>
