<ion-header id="showcase">
  <div class="showcase-container">
    <div class="container">
    <div class="showcase-content">
      <p>Welcome</p>
      <h1>Bolaji Doyin</h1>
    </div>
  </div>
  </div>
</ion-header>


<ion-content>

<div class="container-1">

  <h1 class="top">Current Ride</h1>

  <ion-card class="card-container">

    <ion-card-content class="ion-card-content-container">
      <div class="top-div">
        <img src="../../assets/home1pix.png" alt="home1pix.png">
        <div class="top-div-1">
          <h1 class="top-div-1-h1">Name</h1>
          <p>Johnson James</p>
        </div>

          <div class="top-div-2">
            <h1>Pick Up Location</h1>
            <p>23, Unity Road,</p>
            <p>Ikeja, Lagos</p>
          </div>
      </div>

      <div class="bottom-div">
        unujij
      </div>
    </ion-card-content>


  </ion-card>

    <ion-item container-3>
      <img src="../../assets/drop.png" alt="drop">
      ion-
      <ion-input></ion-input>
      <img src="../../assets/search.png" alt="" class="img-top">
    </ion-item>

</div>

</ion-content>
