<ion-header>
  <ion-toolbar class="toolbar-container">
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/profile']" defaultHref="notification-summary" color="light"
        style="--icon-margin-start:8px; --icon-font-size:26px" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Car Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- display none here for the div with class car-info-div-detail  -->
  <div style="display: none;" class="car-info-div-detail">

    <div class="car-info-div-detail-text">
        <h1 class="cartype-h1">type/category</h1>
        <p class="sedantype-p">Sedan</p>
        <h1 class="brand-h1">Brand</h1>
        <p class="toyota-p">Toyota-Corolla</p>
        <h1 class="year-h1">Year</h1>
        <p class="year-figure-p">2010</p>
        <h1 class="color-h1">Color</h1>
        <p class="red-p">Red</p>
    </div>
    <img src="../../assets/carer toyata 1.png" alt="img">

</div>

<!-- display none here for the ion-card with class car-history-div-detai  -->
  <ion-card class="car-history-div-detail">

    <div class="ridetake a">
        <h1>Rides Taken</h1>
        <h2>250</h2>
    </div>

    <div class="ridetake b">
        <h1>Ride Cancelled</h1>
        <h2>0</h2>
    </div>

    <div class="ridetake c">
        <h1>Rides not Completed</h1>
        <h2>0</h2>
    </div>

    <div class="ridetake d">
        <h1>Ride Failed</h1>
        <h2>0</h2>
    </div>

    <div class="ridetake e">
        <h1>Ride Reported</h1>
        <h2>0</h2>
    </div>

    <div class="ridetake f">
        <h1>Ride Rated</h1>
        <h2>250</h2>
    </div>

    <div class="ridetake g">
        <h1>Accidents Incurred</h1>
        <h2>0</h2>
    </div>

</ion-card>



</ion-content>