<ion-header>
  <ion-toolbar class="toolbar-container">
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/profile']" defaultHref="notification-summary" color="light"
        style="--icon-margin-start:8px; --icon-font-size:26px" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title>Car Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="car-history-div-detail">

    <div class="ridetake a">
        <h1>Rides Taken</h1>
        <h2>250</h2>
    </div>

    <div class="ridetake b">
        <h1>Ride Cancelled</h1>
        <h2>0</h2>
    </div>

    <div class="ridetake c">
        <h1>Rides not Completed</h1>
        <h2>0</h2>
    </div>

    <div class="ridetake d">
        <h1>Ride Failed</h1>
        <h2>0</h2>
    </div>

    <div class="ridetake e">
        <h1>Ride Reported</h1>
        <h2>0</h2>
    </div>

    <div class="ridetake f">
        <h1>Ride Rated</h1>
        <h2>250</h2>
    </div>

    <div class="ridetake g">
        <h1>Accidents Incurred</h1>
        <h2>0</h2>
    </div>

</ion-card>



</ion-content>