<!-- <ion-header>
  <ion-toolbar>
    <ion-title>carInfo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->




<nav id="main-nav">
  <div class="container">
      <div class="logo">..........</div>
      <div class="social">

      </div>
      <ul>
          <li><a class="current" href="index.html">Car Information</a></li>
          
      </ul>
  </div>
</nav>
 
  <div class="container2">

    <div class="topcard">

      <div>
  
        <div>
          <h1 class="purple">Car type/Category</h1>
          <h2 class="plain">Sedan</h2>
        </div>
  
        <div>
          <h1 class="purple">Brand</h1>
          <h2 class="plain">Toyota Corolla</h2>
        </div>
  
        <div>
          <h1 class="purple">Year</h1>
          <h2 class="plain">2010</h2>
        </div>
  
        <div>
          <h1 class="purple">Color</h1>
          <h2 class="plain">Red</h2>
        </div>
  
      </div>

      <div class="car">
        <img src="../../assets/car.png" style=" height:height*0.2;  width:width*0.6; size:60" alt="">
      </div>

    </div>

    <div class="grey">
      <h1 class="bold">Rides Taken</h1>
      <h2 class="info">250</h2>
    </div>

    <div class="white">
      <h1 class="bold">Rides Cancelled</h1>
      <h2 class="info">25</h2>
    </div>

    <div class="grey">
      <h1 class="bold">Rides not Completed</h1>
      <h2 class="info">0</h2>
    </div>

    <div class="white">
      <h1 class="bold">Ride Failed</h1>
      <h2 class="info">0</h2>
    </div>

    <div class="grey">
      <h1 class="bold">Ride Reported</h1>
      <h2 class="info">0</h2>
    </div>

    <div class="white">
      <h1 class="bold">Rides Rated</h1>
      <h2 class="info">250</h2>
    </div>





  </div>

<div>
  margin
</div>

<div>
  margin
</div>

<div class="container2">
  <div class="topcard">
    <div>

      <div>
        <h1 class="purple">Car type/Category</h1>
        <h2 class="plain">Sedan</h2>
      </div>

      <div>
        <h1 class="purple">Brand</h1>
        <h2 class="plain">Sedan</h2>
      </div>

      <div>
        <h1 class="purple">Year</h1>
        <h2 class="plain">Sedan</h2>
      </div>

      <div>
        <h1 class="purple">Color</h1>
        <h2 class="plain">Sedan</h2>
      </div>

    </div>

  </div>
</div>