// %%%%%%%%%%%%%%
// nav styling
// %%%%%%%%%%%%%%

:root {
    --primary-color: #c72727;
    --secondary-color: #f99500;
    --light-color: #f3f3f3;
    --dark-color: #333;
    --max-width: 360px;
}

.category {
    --sports-color: #f99500;
    --ent-color: #a66bbe;
    --tech-color: #009cff;
}

* {
    margin: 0;
    //padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 1;
    background: var(--light-color);
}

a {
    color: #333;
    text-decoration: none;
}

ul {
    list-style: none;
}

// h1, h2, h3, h4, h5, h6 {
//     font-family: 'Staatliches', cursive;
//     /* changes here */
//     margin-bottom: .55rem;
//     line-height: 1.3
// }

/* Navigation */
#main-nav {
    background: #673AB7;
    /* changes here */
    position: sticky;
    top: 0;
    z-index: 2;
    //height: 50px;
}

#main-nav .container {
    display: grid;
    align-items: center;
}

#main-nav .logo {
    /* changes here */
    width: 50px;
    margin-right: 5px;
    /* margin:45px;
    padding: 30px; */
    color: #673AB7;
}

#main-nav ul {
    justify-self: center;
    display: flex;
    
  }

  #main-nav ul li a.current {
    //background: var(--primary-color);
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    line-height: 1px;
}

// %%%%%%%%%%%%%%%%%%%%
// main profile styling
// %%%%%%%%%%%%%%%%%%%%
