// %%%%%%%%%%%%%%%%%%%%%%%
//  HEADER CONFIGURATION
// %%%%%%%%%%%%%%%%%%%%%%

.toolbar-container{
    --background: #673ab7;
    --color:#ffffff;
    font-weight: 300;

    /* I ADDED THIS */
  text-align: center; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
 }

 :root {
    ion-back-button {
        --color:#ffffff !important;
    }
  }

  ion-icon.sc-ion-back-button-md , ion-icon.sc-ion-back-button-ios{
      --color:#ffffff !important;
  }

  .button-text{
      display: none;
  }

  ion-icon {
    --color:#ffffff !important;
    margin-left: 5px;
    font-size: 30px
  }

  span.button-inner{
    --color:#ffffff !important;
    margin-left: 5px;
  }

  ion-icon.ios.hydrated{
    --color:#ffffff !important; 
  }


  /* I ALSO ADDED THIS */
  .toolbar-container ion-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    //line-height: 1px;    
    letter-spacing: 0.01em;
    color: #FFFFFF;
  }

