<ion-header>
   <ion-toolbar class="toolbar-container">
     <ion-title>Notifications</ion-title>
 
     <ion-buttons slot="start">
       <ion-back-button [routerLink]="['/profile']" defaultHref="notification-summary" color="light"
         style="--icon-margin-start:8px; --icon-font-size:26px" text="" icon="arrow-back-outline">
       </ion-back-button>
     </ion-buttons>
 
   </ion-toolbar>
 </ion-header>
 
 
 <ion-content>

     <ion-card class="paddingDiv" [routerLink]="['/notification-detail']" style="padding: 1rem">
         <ion-card-content style="height: 70px; padding-left: 0; padding-right: 0;" >
           <div style="display: flex; flex-direction: row;">
               <div style="background: #673ab7; border-radius: 50%; width: 23px; text-align: center; margin-top:-4px; display: flex; justify-content: center; padding-top: 3px;">
                   <ion-icon style="color:#ffffff; text-align: center;" name="mail-unread"></ion-icon>
                </div>
                <div style="display: flex; flex-direction: row; justify-content: space-between; width:100%;">
                  <p style="margin-left:5px; margin-top:-4px; font-weight: bold; color:black; font-size: 15px;">Lorem</p>
                  <p style=" color:#8a8a8a; font-size: 11px;">June 24</p>
                </div>
           </div>
           <div>
             <p class="notify-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, reprehenderit.</p>
           </div>
         </ion-card-content> 
         </ion-card>

         <ion-card [routerLink]="['/notification-summary']" style="padding: 1rem">
             <ion-card-content style="height: 70px; padding-left: 0; padding-right: 0;" >
               <div style="display: flex; flex-direction: row;">
                   <div style="background: #673ab7; border-radius: 50%; width: 23px; text-align: center; margin-top:-4px; display: flex; justify-content: center; padding-top: 3px;">
                       <ion-icon style="color:#ffffff; text-align: center;" name="mail-unread"></ion-icon>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: space-between; width:100%;">
                      <p style="margin-left:5px; margin-top:-4px; font-weight: bold; color:black; font-size: 15px;">Lorem</p>
                      <p style=" color:#8a8a8a; font-size: 11px;">June 24</p>
                    </div>
               </div>
               <div>
                 <p class="notify-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, reprehenderit.</p>
               </div>
             </ion-card-content> 
             </ion-card>

              <ion-card [routerLink]="['/notification-summary']" style="padding: 1rem">
             <ion-card-content style="height: 70px; padding-left: 0; padding-right: 0;" >
               <div style="display: flex; flex-direction: row;">
                   <div style="background: #673ab7; border-radius: 50%; width: 23px; text-align: center; margin-top:-4px; display: flex; justify-content: center; padding-top: 3px;">
                       <ion-icon style="color:#ffffff; text-align: center;" name="mail-unread"></ion-icon>
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: space-between; width:100%;">
                      <p style="margin-left:5px; margin-top:-4px; font-weight: bold; color:black; font-size: 15px;">Lorem</p>
                      <p style=" color:#8a8a8a; font-size: 11px;">June 24</p>
                    </div>
               </div>
               <div>
                 <p class="notify-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, reprehenderit.</p>
               </div>
             </ion-card-content> 
             </ion-card>

 </ion-content>
 