

<ion-content>
  <div class="profile-container" style="height:100%">
     <div>
         <img class="wallet-image" src="../../assets/Oval.png">
         <p style="position:absolute; color:white; font-size:21px; top: 8%; left: 36%; z-index:5;">My Profile</p>
         <div style="position: absolute; top:15%; left:32%; z-index: 2;">
           
           <ion-avatar style="width:130px; height:130px; ">
                 <img src="../../assets/woman.png">
               </ion-avatar>
         </div>
     </div>




     <div style="border: 1px dashed red; width:100%; padding: 0 15px; ">
         <ion-card  style="position:absolute; margin: 0; display: flex; flex-direction: column; top: 25%; left: 7%;width: 325px;max-width: 100%; margin:0; display:flex; flex-direction:  column; border: 1px dashed red;">

           <ion-icon (click)="presentPopover($event)" name="ellipsis-horizontal" style="border: 1px dashed red; font-size: 25px; position: absolute; right: 15px; top: 5px;"></ion-icon>
                
           <div style="border-bottom: 1px solid rgba(0,0,0,0.4); border: 1px dashed red; width:100%; text-align: center;" class="profile-con">
                  <div style="display:flex; flex-direction: row; width:100%; justify-content:center;">
                    <p style="margin-top:65px; font-size:17px; font-weight: bold; color: #000000; margin-bottom:3px;">Chiamaka Nkem-Eze</p>
                    <!-- display none here for the icon with class hidden -->
                    <ion-icon class="hidden" style="display: none; margin-top: 67px;  margin-left: 7px;" name="pencil"></ion-icon>
                 </div>
                 <div  style="display:flex; flex-direction: row; width:100%; justify-content:center;">
                    <p style="font-size:13px; margin-top:3px; margin-bottom:0px;">08181423895</p>
                    <!-- display none here for the icon with class hidden -->
                    <ion-icon class="hidden" style="display: none; margin-left: 7px;"  name="pencil"></ion-icon>
                 </div>
                 <div style="display:flex; flex-direction: row; width:100%; justify-content:center;">
                       <p style="font-size: 13px; margin-top:3px; margin-bottom:10px;">ceerieze@gmail.com</p>
                       <!-- display none here for the icon with class hidden -->
                    <ion-icon class="hidden" style="display: none; margin-left: 7px;" name="pencil"></ion-icon>
                 </div>
            </div>

                <div (click) = "show()" id="open" style="width:100%; display:flex; justify-content: space-between; flex-direction: row; border-bottom: 1px solid rgba(0,0,0,0.4); border-bottom: 1px dashed red;">
                   <p style="margin:25px 0px 25px 15px; font-size:15px; font-weight: bold; color: #000000;" >Wallet</p>
                   <ion-icon style="margin:25px 15px 25px 0px; font-size:17px; font-weight: bold; color: #000000;" name="chevron-forward-outline"></ion-icon>
                </div>

                    <!-- display none here for the div with id show -->
                <div id="show" style="width:100%; border-bottom: 1px solid rgba(0,0,0,0.4)">
                   <div style="padding-bottom:0;">
                      <p style="font-size:15px">Balance</p>
                      <p style="font-size:15px">N350,000.00</p>
                   </div>
                   <div style="padding:0 15px;">
                    <p style="margin-top:0; color:#673ab7; font-size:15px">Voucher</p>
                    <p style="margin-top:0; font-size:15px">00hr : 00m</p>
                   </div>
                   <div style="padding-bottom:5px;">
                    <p style="font-weight:bold; font-size:17px; margin-bottom:0;">Total</p>
                    <p style="font-weight:bold; font-size:17px; margin-bottom:0;">N350,000.00</p>
                   </div>
                 </div>

                <div  id="support" (click) = "view()" style="width:100%; display:flex; justify-content: space-between; flex-direction: row; border-bottom: 1px solid rgba(0,0,0,0.4)">
                   <p style="margin:25px 0px 25px 15px; font-size:15px; font-weight: bold; color: #000000;">Support</p>
                   <ion-icon  style="margin:25px 15px 25px 0; font-size:17px; font-weight: bold; color: #000000;" name="chevron-forward-outline"></ion-icon>
                   <!-- <ion-icon  style="margin:25px 15px 25px 0; font-size:17px; font-weight: bold; color: #000000;" name="chevron-forward-outline"></ion-icon> -->
                </div>

                  <!-- display none here for the div with id view-->
                <div  id="view" style=" width:100%; border-bottom: 1px solid rgba(0,0,0,0.4)">
                 <div style="padding-bottom:0; border-bottom:1px solid rgba(0,0,0,0.3)">
                    <p style=" margin-left:15px; font-weight:bold; font-size:15px">Report an Issue</p>
                 </div>

                 <div style="border-bottom:1px solid rgba(0,0,0,0.3)">
                  <p style="margin-left:15px; font-weight:bold; font-size:15px">Report last ride</p>
                 </div>
                 
                 <div style="padding-bottom:5px;">
                  <p style="margin-left:15px; font-weight:bold; font-size:15px;">Report other ride</p>
                 </div>
               </div>

                <div style="width:100%; display:flex; justify-content: space-between; flex-direction: row; border-bottom: 1px solid rgba(0,0,0,0.4) ">
                   <p style="margin:25px 0px 25px 15px; font-size:15px; font-weight: bold; color: #000000;">FAQ</p>
                   <ion-icon  style="margin:25px 15px 25px 0px; font-size:17px; font-weight: bold; color: #000000;" name="chevron-forward-outline"></ion-icon>
                </div>

                <div style="width:100%; display:flex; justify-content: space-between; flex-direction: row;">
                  <p style="margin:25px 0px 25px 15px; font-size:15px; font-weight: bold; color: #000000; ">Logout</p>
                  <ion-icon  style="margin:25px 15px 25px 0px; font-size:17px; font-weight: bold; color: #000000;" name="chevron-forward-outline"></ion-icon>
                </div>
             
             </ion-card>
     </div>
 

  </div>
</ion-content>

