<ion-content>

  <form #f="ngForm" (ngSubmit)="onSubmit(f)">

    <ion-grid>

      <ion-row>
        <div class="image-container">
          <img src="../../assets/icon/logo.png" alt="" class="login-image">
        </div>
      </ion-row>

      <ion-row>
        <h1 class="header-text second-row-text" style="width:100%; text-align:center">SIGN IN</h1>
      </ion-row>

      <div class="input-block">

        <ion-row>
          <ion-item style="width:100%">
            <ion-label position="floating" class="label">Phone Number/Email</ion-label>
            <ion-input ngModel name="email" required #emailCtrl="ngModel"></ion-input>
          </ion-item>
          <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none"><ion-label>Should be a valid email address.</ion-label></ion-item>
        </ion-row>

        <ion-row>
          <ion-item style="width:100%">
            <ion-label class="label" position="floating">Password</ion-label>
            <ion-input [type]="passwordType" type="password" ngModel #passwordCtrl="ngModel" name="password" required minlength="6"></ion-input>
            <ion-icon class="eye-icon" [name]="passwordIcon" (click)='hideShowPassword()' slot="end"></ion-icon>
          </ion-item>
          <ion-item lines="none"><ion-label>Should atleast be 6 characters long.</ion-label></ion-item>
          <h4 class="reset-text">Forgot Password?</h4>
        </ion-row>

      </div>


      <ion-row>
        <div class="button-container">
        <button 
          class="button" 
          (click)="onLogin()" 
          type="submit"
          [disabled]="!f.valid"
          
        >
          Sign in
        </button>
          <p class="footer-text">Don't have an Account?<span class="footer-link"
              [routerLink]="['/signupgrid1']">SignUp</span></p>
        </div>
      </ion-row>

    </ion-grid>

  </form>


</ion-content>