.image-container{
    width:100%;
    text-align:center;
    margin-top:25%;
  }
  .container{
    height:100%;
    padding:10px 15px;
    text-align:center;
    position: relative;
  
  }
  .header-text{
    margin: 5px, 0, 0, 0;
    font-weight: bold;
    font-size: 17px;
    text-align:center;
  }
  .input-block{
    margin-top:40px;
  }
  .label{
    font-size: 15px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    color: rgba(109, 109, 109, 0.8);
    --background: blue;
  }
  
  .eye-icon{
    margin-top:21px;
    color: rgba(109, 109, 109, 0.8);
  }
  
  div.item-native{
  padding-left: 0;
  }

  .button{
    width:100%;
    height: 40px;
    background-color: #673ab7;
    border:none;
    border-radius: 6px;
    color:white;
    font-size:15px;
    font-weight: bold;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
    margin: auto;
  }
  
  .button-container{
    position: absolute;
    bottom: 30px;
    width: 93%;
    margin-left: 10px;
    
  }
  .footer-text{
    margin-top:10px;
    margin-bottom: 0;
    font-size:15px;
    margin-left: 55px;
  }
  .footer-link{
    color: #673ab7;
  }
  .item-native {
    padding-inline-start: 0px;
  }
  
  ion-content ion-item {
    max-width: 345px;
    padding-left: 1rem;
  }