<ion-header>
  <ion-toolbar>
    <ion-title>Step 1 / 2 Complete</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <h1 class="header-text">Kindly provide details below</h1>
    <ion-list >

      <ion-item >
        <ion-label class="label" position="floating">Full Name(First/Last Name)</ion-label>
        <ion-input></ion-input>
      </ion-item>
  
      <ion-item >
        <ion-label  class="label" position="floating">Driver License</ion-label>
        <ion-input></ion-input>
      </ion-item>
  
      <ion-item > 
        <ion-label  class="label" position="floating">Email Address</ion-label>
        <ion-input></ion-input>
      </ion-item>
  
      <ion-item >
        <ion-label  class="label" position="floating">Address</ion-label>
        <ion-input></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label  class="label" position="floating">Phone Number</ion-label>
        <ion-input></ion-input>
      </ion-item>
  
      <ion-item >
        <ion-label   class="label" position="floating">Car Owner Phone Number</ion-label>
        <ion-input></ion-input>
      </ion-item>
    
  </ion-list>
    
 <ion-grid class="label" style="position:fixed;padding:10px; bottom:5px; width:100%;">

  <ion-row>
    <button class="button" [routerLink]="['/signup']">Next</button>
      <p class="footer-text">Already have an Account?<span class="footer-link" [routerLink]="['/signup3']">Sign In</span></p>
  </ion-row>
  
 </ion-grid>


</ion-content>



























<!-- <ion-header>
  <ion-toolbar>
    <ion-title>signupgrid1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
