<ion-header>
  <ion-toolbar class="toolbar-container">
    <ion-buttons slot="start">
        <ion-back-button [routerLink]="['/profile']" defaultHref="notification-summary" color="light" style="--icon-margin-start:8px; --icon-font-size:26px" text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>  
    <ion-title style=" color:#FFFFFF; font-weight:bold; font-style:normal; font-family:Roboto;"> MY RIDES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <h1 class="first-h1">SCHEDULED RIDES</h1>
    <h1 class="second-h1">PAST RIDES</h1>
  </ion-item>

  <ion-card>
    <ion-card-content>

      <div class="image-container">
        <img src="../../assets/myrides.png" alt="myrides">
        <h1>Tayo Adeniyi</h1>
      </div>

      <div class="text-container">
        <div class="date-completed">
          <h2>Date</h2>
          <h1>Completed</h1>
        </div>

        <div class="other-info">
          <h2 class="one">10/02/2020</h2>
          <h2 class="two">Time</h2>
          <h2 class="three">3:00 PM - 11:00 PM</h2>
          <h2 class="four">Pick-up Location</h2>
          <h2 class="five">5, Jonathan Arepo Close,</h2>
          <h2 class="six">Obafemi-Owode Ogun State.</h2>
        </div>
      </div>

    </ion-card-content>
  </ion-card>





</ion-content>
