

<ion-content>

  <ion-card>

    <ion-card-content>
      
      <div class="iconimagediv">
        <ion-icon name="alert-outline"></ion-icon>
      <img src="../../assets/question.png" alt="question">
      </div>
      
      <p>Input token to confirm device</p>

      <div class="small-box">
        <div class="div1"></div>
        <div class="div1"></div>
        <div class="div1"></div>
        <div class="div1"></div>
        <div class="div1"></div>
        <div class="div2"></div>
      </div>

      <ion-item>
        <h2>Didn't receive token?<span> Resend 2min</span></h2>
      </ion-item>

      <button>Confirm</button>

    </ion-card-content>

  </ion-card>


</ion-content>
