<ion-header id="showcase">
  <div class="showcase-container">
    <div class="container">
    <div class="showcase-content">
      <p>Welcome</p>
      <h1>Bolaji Doyin</h1>
    </div>
  </div>
  </div>
</ion-header>

<ion-content>

<div class="box">

 <ion-card class="body">

   <img src="../../assets/home1pix.png" alt="">

        <ion-card-content>
          <div class="start-trip">
          <h1 class="h1">name</h1>
          <p class="p">johnson james</p>
          <h1 class="h1">pick up location</h1>
          <p class="p">23, unity road, ikeja,</p>
          <p class="p">lagos</p>
          <h1 class="h1">duration</h1>
          <p class="p">5 hours</p>
          </div>
          <button>start trip</button>
        </ion-card-content>

  </ion-card>

</div>

</ion-content>
