<ion-content>
  <ion-tabs>
  
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="inbox">
          <ion-icon name="mail-unread"></ion-icon>
          <ion-label>Inbox</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="payment">
          <ion-icon name="reload-circle"></ion-icon>
          <ion-label>History</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="profile">
          <ion-icon name="person-circle"></ion-icon>
          <ion-label>Account</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>
  