



































<!-- <ion-content>

  <div class="container">
      // REMOVE THIS LINE AND THE IMAGE CONTAINER WHEN UNCOMMENT
    <div class="image-container">
        <img class="login-image" src="../../assets/icon/logo.png">
    </div>

    <h1 class="header-text">Kindly provide details below</h1>

    <div class="input-block">
      <ion-item class="ion-no-padding">
        <ion-label class="label" position="floating">Car Type</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-label class="label" position="floating">Car Brand(e.g Toyota, Mitsubishi, Honda)</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-label class="label" position="floating">Car model (e.g Camry, civic)</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-label class="label" position="floating">Car Year</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-label class="label" position="floating">Car Plate Number</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-label class="label" position="floating">Ca Colour (e.g silver, gold, black)</ion-label>
        <ion-input></ion-input>
      </ion-item>
      
    </div>

    <div class="button-container">
      <button class="button">Submit</button>
      <p class="footer-text">Already have an Account?<span class="footer-link" [routerLink]="['/login']">Sign In</span></p>
    </div>

  </div>

</ion-content> -->






























<!-- <ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->



































<!-- <ion-header>
  <ion-toolbar>
    <ion-title>signup2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
