
<ion-content>
    <h1 class="first">Kindly provide details below</h1>
    <ion-item>
            
            <img class="img-success" src="../../assets/002-success.png" alt="">
            <img class="line-success" src="../../assets/Line 91.png" alt="">
            <img class="img-success" src="../../assets/002-success.png" alt="">
            <img class="line-success" src="../../assets/Line 91.png" alt="">
            <div class="div-with-3">
                <h1>3</h1>
        </div>

    </ion-item>

    <div class="space-container"></div>

    <div class="signup2">
        <img class="signup2-img" src="../../assets/signup2-img.png" alt="">
    </div>

    <div class="space-container"></div>

    <div class="register-success">
        <h1>Registration Successful</h1>
        <p>We wil get back to you</p>
    </div>

    <div class="space-container"></div>

    <ion-grid style="position:fixed; padding:10px; bottom:5px; width:100%">
        <ion-row>
          <button class="button" [routerLink]="['/signin']">Next</button>
          <p class="footer-text">Already have an Account?<span class="footer-link" [routerLink]="['/signup3']">Sign In</span>
          </p>
        </ion-row>
      </ion-grid>
    
</ion-content>