ion-content {
    //border: 1px dashed red;
    background: #EAEAEA;
}

ion-content h1.first {
    //border: 1px dashed red;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    //line-height: 20px;
    //display: flex;
    //align-items: center;
    text-align: center;
    color: #4B4B4B;

}

ion-content ion-item {
    //border: 1px dashed red;
    height: 100%px;
    background-color: #EAEAEA;
}

ion-item img.img-success {
    width: 32px;
    height: 32px;
}

ion-item img.line-success {
    width: 100px;
    height: 1px
}

ion-item .div-with-3 {
    //border: 1px dashed red;
    background: #673AB7;
    width: 32px;
    height: 32px;
    position: relative;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    //align-items: center;
    
}

.div-with-3 h1 {
    //border: 1px dashed red;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    //line-height: 20px;
    // display: flex;
    // align-items: center;
    // text-align: center;
    color: #FFFFFF;
    position: absolute;
    margin-top: 0px;
    padding-top: 3px;
}

/*signup2-img*/
ion-content div.signup2 {
    //border: 1px dashed red;
    width: 100%;
    text-align: center;
}

// div.signup2 img.signup2-img {
//     border: 1px dashed red;
// }

/*register-success*/
ion-content div.register-success {
    //border: 1px dashed red;
    background-color: white;
    text-align: center;
    // flex-direction: column;    
}

div.register-success h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    //line-height: 28px;
    //text-align: center;
    color: #5B3B94;
}

div.register-success p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    //line-height: 28px;
    //text-align: center;
    color: #BEBEBE;
}

/*button*/
.button{
    width:100%;
    height: 40px;
    background-color: #673ab7;
    border:none;
    border-radius: 6px;
    color:white;
    font-size:15px;
    font-weight: bold;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
    margin: auto;
  }

  .footer-text{
    margin-top:10px;
    margin-bottom: 0;
    font-size:15px;
    margin-left: 55px;
  }
  .footer-link{
    color: #673ab7;
  }

  /*space-container*/
  ion-content .space-container {
    //border: 1px dashed red;
    width: 100%;
    height: 50px;
    
  }




