<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>Step 2 / 2 Complete<area shape="default" coords="" href="" alt=""></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <h1 class="header-text">Kindly provide details below</h1>
  <ion-list>

    <ion-item>
      <ion-label class="label" position="floating">Car Type</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="label" position="floating">Car Brand(e.g Toyota, Mitsubishi, Honda)</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="label" position="floating">Car Model (e.g Camry, civic)</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="label" position="floating">Car Year</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="label" position="floating">Car Plate Number</ion-label>
      <ion-input></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="label" position="floating">Car Color(e.g silver, gold, black)</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>

  <ion-grid style="position:fixed; padding:10px; bottom:5px; width:100%">
    <ion-row>
      <!-- <button class="button" [routerLink]="['/signin']">Next</button>-->
      <button class="button" (click)="onsignupmodal">Next</button>
      <p class="footer-text">Already have an Account?<span class="footer-link" [routerLink]="['/auth']">Sign In</span>
      </p>
    </ion-row>
  </ion-grid>

</ion-content>
 
































 <!-- <ion-content>

  <div class="container"> -->
    <!-- I commented this before -->
    <!--<div class="image-container">
        <img class="login-image" src="../../assets/icon/logo.png">
    </div>   //  END HERE-->

    <!-- <h1 class="header-text">Kindly provide details below</h1> -->

    <!-- <div class="input-block">

      <ion-item class="ion-no-padding">
        <ion-label class="label" position="floating">Full Name(First/Last Name)</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-label class="label" position="floating">Driver License</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-label class="label" position="floating">Email Address</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-label class="label" position="floating">Address</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-label class="label" position="floating">Phone Number</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-label class="label" position="floating">Car Owner Phone Number</ion-label>
        <ion-input></ion-input>
      </ion-item>
      
    </div>

    <div class="button-container">
      <button class="button">Next</button>
      <p class="footer-text">Already have an Account?<span class="footer-link" [routerLink]="['/login']">Sign In</span></p>
    </div>

  </div>

</ion-content> -->






























<!-- <ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
