<ion-header>
  <ion-toolbar class="toolbar-container">
    <ion-title>Payment History</ion-title>

    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/profile']" defaultHref="notification-summary" color="light"
        style="--icon-margin-start:8px; --icon-font-size:26px" text="" icon="arrow-back-outline">
      </ion-back-button>
    </ion-buttons>

    <ion-icon slot="end" name="search"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="content">

<ion-card class="card">
  <ion-card-content class="card-content">
    <div class="div-content">
        <div class="bank-transfer">
          <h1>Bank Transfer</h1>
          <p>Time: <span>5:02pm</span> </p>
          <h2>Duration: <span>5hrs</span></h2>
        </div>

        <div class="cash">
          <h2>Bank: <span>Gt bank</span></h2>
          <p>Acc: <span>02******01</span></p>
          <h1>Cash: N30,000</h1>
        </div>
    </div>
  </ion-card-content>
</ion-card>

<ion-card class="card">
  <ion-card-content class="card-content">
    <div class="div-content">
        <div class="bank-transfer">
          <h1>Bank Transfer</h1>
          <p>Time: <span>5:02pm</span> </p>
          <h2>Duration: <span>5hrs</span></h2>
        </div>

        <div class="cash">
          <h2>Bank: <span>Gt bank</span></h2>
          <p>Acc: <span>02******01</span></p>
          <h1>Cash: N30,000</h1>
        </div>
    </div>
  </ion-card-content>
</ion-card>

<ion-card class="card">
  <ion-card-content class="card-content">
    <div class="div-content">
        <div class="bank-transfer">
          <h1>Bank Transfer</h1>
          <p>Time: <span>5:02pm</span> </p>
          <h2>Duration: <span>5hrs</span></h2>
        </div>

        <div class="cash">
          <h2>Bank: <span>Gt bank</span></h2>
          <p>Acc: <span>02******01</span></p>
          <h1>Cash: N30,000</h1>
        </div>
    </div>
  </ion-card-content>
</ion-card>

<ion-card class="card">
  <ion-card-content class="card-content">
    <div class="div-content">
        <div class="bank-transfer">
          <h1>Bank Transfer</h1>
          <p>Time: <span>5:02pm</span> </p>
          <h2>Duration: <span>5hrs</span></h2>
        </div>

        <div class="cash">
          <h2>Bank: <span>Gt bank</span></h2>
          <p>Acc: <span>02******01</span></p>
          <h1>Cash: N30,000</h1>
        </div>
    </div>
  </ion-card-content>
</ion-card>




</ion-content>