<ion-header>
    <ion-toolbar class="toolbar-container">
      <ion-buttons slot="start">
          <!-- <ion-back-button [routerLink]="['/homepage/inbox']" defaultHref="notification-summary" color="light" style="--icon-margin-start:8px; --icon-font-size:26px" text="" icon="arrow-back-outline"></ion-back-button> -->
      </ion-buttons>  
      <ion-title>Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="top-div">

        <div class="header-div">
        
            <div class="div-1">
                
                <img class="img" src="../../assets/profile-img.png" alt="">
                <h1 class="first-h1">Ebube Onuoha</h1>
            </div>
        
            <div class="div-2">
                <h1 class="second-h1">Completed</h1>
                <p class="p1">Pick up time: 7:00am</p>
                <p class="p2">Nov 12, 2019 - Nov 16 2019</p>
                <h1 class="third-h1">Pick-Up Location</h1>
                <p class="p3">23, Unity Road Ikeja, Lagos State</p>
            </div>
        
        </div>

        






    </div>
  </ion-content>