<!-- <ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->


<nav id="main-nav">
  <div class="container">
      <div class="logo"></div>
      <div class="social">

      </div>
      <ul>
          <li><a class="current" href="index.html">Profile</a></li>
          
      </ul>
  </div>
</nav>

<div class="container">

  <div class="profilerating">
    <div class="profilepic">
      <h1 class="profilename">Ebube Abu</h1>
      <img src="https://randomuser.me/api/portraits/men/76.jpg" style="margin-top: 20; margin-bottom: 20; border-radius:50%; size:50" alt="">
    </div>
  </div>

  <div class="profileinfo">

    <div class="profilelinks">
      <ion-icon name="car-sport" class="profileforward" style="color:rgba(0,0,0,0.7); font-size:15"></ion-icon>
      <h3 class="profiletext">Ride History</h3>
    </div>

      <div class="profilelinks">
        <ion-icon name="help-circle" class="profileforward" style="color:rgba(0,0,0,0.7); font-size:15"></ion-icon>
        <h1 class="profiletext">Ride History</h1>
      </div>

      <div class="profilelinks">
        <ion-icon name="help-circle" class="profileforward" style="color:rgba(0,0,0,0.7); font-size:15"></ion-icon>
        <h1 class="profiletext">Submit Feedback</h1>
      </div>

      <div class="profilelinks">
        <ion-icon name="help-circle" class="profileforward" style="color:rgba(0,0,0,0.7); font-size:15"></ion-icon>
        <h1 class="profiletext">FAQ</h1>
      </div>

      <div class="profilelinks">
        <ion-icon name="help-circle" class="profileforward" style="color:rgba(0,0,0,0.7); font-size:15"></ion-icon>
        <h1 class="profiletext">Payment History</h1>
      </div>

      <div class="profilelinks">
        <ion-icon name="help-circle" class="profileforward" style="color:rgba(0,0,0,0.7); font-size:15"></ion-icon>
        <h1 class="profiletext">Logout</h1>
      </div>

  </div>
  
</div>

