<ion-header>
    <ion-toolbar class="toolbar-container">
      <ion-buttons slot="start">
          <!-- <ion-back-button [routerLink]="['/homepage/inbox']" defaultHref="notification-summary" color="light" style="--icon-margin-start:8px; --icon-font-size:26px" text="" icon="arrow-back-outline"></ion-back-button> -->
      </ion-buttons>  
      <ion-title>Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="top-div">

        <div class="header-div">
        
            <div class="div-1">
                
                <img class="img" src="../../assets/profile-img.png" alt="">
                <h1 class="first-h1">Ebube Onuoha</h1>
            </div>
        
            <div class="div-2">
                <h1 class="second-h1">Completed</h1>
                <p class="p1">Pick up time: 7:00am</p>
                <p class="p2">Nov 12, 2019 - Nov 16 2019</p>
                <h1 class="third-h1">Pick-Up Location</h1>
                <p class="p3">23, Unity Road Ikeja, Lagos State</p>
            </div>
        
        </div>

        <div class="content-div">
            <ion-card class="father-ion-card">

                <div class="car-info-div">
                    <ion-icon class="car-outline" name="car-outline"></ion-icon>
                    <p>Car Information</p>
                    <ion-icon class="chevron-forward-outline-1" name="chevron-forward-outline"></ion-icon>
                </div>

                <!-- display none here for the div with class car-info-div-detail  -->
                <div style=" display: none;" class="car-info-div-detail">

                    <div class="car-info-div-detail-text">
                        <h1 class="cartype-h1">type/category</h1>
                        <p class="sedantype-p">Sedan</p>
                        <h1 class="brand-h1">Brand</h1>
                        <p class="toyota-p">Toyota-Corolla</p>
                        <h1 class="year-h1">Year</h1>
                        <p class="year-figure-p">2010</p>
                        <h1 class="color-h1">Color</h1>
                        <p class="red-p">Red</p>
                    </div>
                    <img src="../../assets/carer toyata 1.png" alt="img">

                </div>

                <div class="car-info-div">
                    <ion-icon class="car-sport-outline" name="car-sport-outline"></ion-icon>
                    <p>Ride History</p>
                    <ion-icon class="chevron-forward-outline-1" name="chevron-forward-outline"></ion-icon>
                </div>

                <!-- display none here for the div with class car-info-div-detail  -->
                <ion-card class="car-history-div-detail">

                    <div class="ridetake">
                        <h1>Rides Taking</h1>
                        <h2>250</h2>
                    </div>

                </ion-card>

                





            </ion-card>
        </div>

    </div>
  </ion-content>