// %%%%%%%%%%%%%%%%%%%%%%%
//  HEADER CONFIGURATION
// %%%%%%%%%%%%%%%%%%%%%%

.toolbar-container{
    --background: #673ab7;
    --color:#ffffff;
    font-weight: 300;

    /* I ADDED THIS */
  text-align: center; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
 }

 :root {
    ion-back-button {
        --color:#ffffff !important;
    }
  }

  ion-icon.sc-ion-back-button-md , ion-icon.sc-ion-back-button-ios{
      --color:#ffffff !important;
  }

  .button-text{
      display: none;
  }

  ion-icon {
    --color:#ffffff !important;
    margin-left: 5px;
    font-size: 30px
  }

  span.button-inner{
    --color:#ffffff !important;
    margin-left: 5px;
  }

  ion-icon.ios.hydrated{
    --color:#ffffff !important; 
  }


  /* I ALSO ADDED THIS */
  .toolbar-container ion-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    //line-height: 1px;    
    letter-spacing: 0.01em;
    color: #FFFFFF;
  }

//   %%%%%%%%%%%%%%%%%
//     MAIN CONTENT
//   %%%%%%%%%%%%%%%%%

ion-content .top-div {
    border: 1px dashed red;
    width: 100%;
    //height: 511px;
    height: 100%;

}

img.img {
    border: 1px dashed red;
    width: 120px;
    height: 120px;
}

h1.first-h1 {
    //border: 1px dashed red;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    //line-height: 1px;
    //display: flex;
    //align-items: center;
    text-align: center;
    //letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 10px;
    padding: 0rem 0.5rem 0.5rem 0.5rem;
}

h1.second-h1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    //line-height: 28px;
    color: #00E217;
    margin-bottom: 10px;

}

p.p1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    //line-height: 28px;
    //text-align: center;
    color: #383838;
    margin-top: 3px;
    margin-bottom: 3px;
}

p.p2 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    //line-height: 28px;
    //text-align: center;
    color: #4C4C4C;
    margin-top: 3px;
    margin-bottom: 3px;
}

h1.third-h1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    //line-height: 28px;
    //text-align: center;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 3px;
}

p.p3 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    //line-height: 13px;
    color: #383838;
}


.top-div .header-div {
    border: 1px dashed red;
    display: flex;
    height: 180px;
    margin-bottom: 5px;
}
  
 .top-div .header-div .div-1 {
    border: 1px dashed red;
    margin-left: 0.5rem;
    margin-top: 1rem;
    margin-right: 0px;
    margin-bottom: 0px;
}

 .top-div .header-div .div-2 {
    border: 1px dashed red;
    display: flex;
    flex-direction: column;
    text-align: right;

}
  
// %%%%%%%%%%%%%%%%%%%
//   BOTTOM CONTENT
// %%%%%%%%%%%%%%%%%%%

.top-div .content-div {
    border: 1px dashed red;
    overflow: scroll;

}

.content-div ion-card.father-ion-card {
    //border: 1px dashed red;
    width: 200;
    height:300px;
    overflow: scroll;

}

.content-div .car-info-div {
    //border: 1px dashed red;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0,0,0,0.4);

}

// .car-info-div .car-outline {
//     //margin:25px 15px 25px 0px;
//     margin-top: 11px;
//     font-size:17px; 
//     font-weight: bold; 
//     color: #000000;
//     //background: rgba(0, 0, 0, 0.7);
// }

.car-info-div .chevron-forward-outline-1 {
    //margin:25px 15px 25px 0px;
    margin-top: 11px;
    font-size:17px; 
    font-weight: bold; 
    color: #000000;
    //background: rgba(0, 0, 0, 0.6);
}

.car-info-div p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    //line-height: 1px;
    display: flex;
    //align-items: center;
    //text-align: center;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.7);

}

.content-div .car-info-div-detail {
    border: 1px dashed red;
    margin: 2px;
    padding-left: 7px;
    padding-right: 7px;
    width: 100%;
    display: flex;
    flex-direction: row;
    //border-bottom: 1px solid rgba(0,0,0,0.4);
    

}


.car-info-div-detail-text h1.cartype-h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    //line-height: 28px;
    //display: flex;
    //align-items: center;
    //text-align: right;
    color: #673AB7;
    margin-top: 0.5rem;
    margin-bottom: 0.5px;

}

.car-info-div-detail-text .sedantype-p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    //line-height: 28px;
    //display: flex;
    //align-items: center;
    //text-align: right;
    color: #212121;
    margin-top: 1px;
    margin-bottom: 0.5rem;

}

.car-info-div-detail-text .brand-h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    //line-height: 28px;
    //display: flex;
    //align-items: center;
    //text-align: right;
    color: #673AB7;
    margin-top: 1px;
    margin-bottom: 1px;

}

.car-info-div-detail .toyota-p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    //line-height: 28px;
    //display: flex;
    //align-items: center;
    //text-align: right;
    color: #212121;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 1px;
}

.car-info-div-detail-text .year-h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    //line-height: 28px;
    //display: flex;
    //align-items: center;
    //text-align: right;
    color: #673AB7;

}

.car-info-div-detail-text .year-figure-p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    //line-height: 28px;
    //display: flex;
    //align-items: center;
    //text-align: right;
    color: #212121;

}

.car-info-div-detail-text .color-h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    //line-height: 28px;
    //display: flex;
    //align-items: center;
    //text-align: right;
    color: #673AB7;
}

.car-info-div-detail-text .red-p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    //line-height: 28px;
    //display: flex;
    //align-items: center;
    //text-align: right;
    color: #212121;
}

.car-info-div-detail img {
    //width: 251px;
    width: 220px;
    height: 157px;
    padding: 0px;
    margin: 0px;

}

.car-info-div .car-outline,
.car-info-div .car-sport-outline,
.car-info-div .chatbox-outline,
.car-info-div .alert-circle-outline {
    //margin:25px 15px 25px 0px;
    margin-top: 11px;
    font-size: 17px; 
    font-weight: bold; 
    color: #000000;
    //background: rgba(0, 0, 0, 0.7);
}


// %%%%%%%%%%%%%%%%%%%
//    RIDE HISTORY
// %%%%%%%%%%%%%%%%%%%
.father-ion-card .car-history-div-detail {
    //border: 1px dashed red;
    width: 95%;
    //max-height: 100px;
    height: 441px;
    margin-right: 3px;
    overflow: scroll;
}

.car-history-div-detail .ridetake.a,
.car-history-div-detail .ridetake.c,
.car-history-div-detail .ridetake.e,
.car-history-div-detail .ridetake.g{
    border: 1px dashed red;
    //height: 100% inherit;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #EAEAEA;
    padding-left: 7px;
    padding-right: 7px;
    
}

.car-history-div-detail .ridetake.b,
.car-history-div-detail .ridetake.d,
.car-history-div-detail .ridetake.f{
    border: 1px dashed red;
    //height: 100% inherit;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);    
    padding-left: 7px;
    padding-right: 7px;
}

.ridetake.a h2,
.ridetake.b h2,
.ridetake.c h2,
.ridetake.d h2,
.ridetake.e h2,
.ridetake.f h2,
.ridetake.g h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    //line-height: 28px;
    //display: flex;
    //align-items: center;
    //text-align: right;
    //color: #212121;

}

.ridetake.a h1,
.ridetake.b h1,
.ridetake.c h1,
.ridetake.d h1,
.ridetake.e h1,
.ridetake.f h1,
.ridetake.g h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    //line-height: 28px;
    //display: flex;
    //align-items: center;
    //text-align: right;
    color: #673AB7;
}

/* SUBMIT */
.ion-item-div-h1 h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    //line-height: 1px;
    //display: flex;
    //align-items: center;
    text-align: center;
    //letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.7);
} 

.label {
    //border: 1px dashed red;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    //line-height: 1px;
    //display: flex;
    //align-items: center;
    //text-align: center;
    //letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 0px;

}

.button{
    width: 50%;
    height: 50px;
    background-color: #673ab7;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    //box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
    margin: auto;
  }

