// %%%%%%%%%%%%%%%%%%%%%%%
//  HEADER CONFIGURATION
// %%%%%%%%%%%%%%%%%%%%%%

.toolbar-container{
    --background: #673ab7;
    --color:#ffffff;
    font-weight: 300;

    /* I ADDED THIS */
  text-align: center; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
 }

 :root {
    ion-back-button {
        --color:#ffffff !important;
    }
  }

  ion-icon.sc-ion-back-button-md , ion-icon.sc-ion-back-button-ios{
      --color:#ffffff !important;
  }

  .button-text{
      display: none;
  }

  ion-icon {
    --color:#ffffff !important;
    margin-left: 5px;
    font-size: 30px
  }

  span.button-inner{
    --color:#ffffff !important;
    margin-left: 5px;
  }

  ion-icon.ios.hydrated{
    --color:#ffffff !important; 
  }


  /* I ALSO ADDED THIS */
  .toolbar-container ion-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    //line-height: 1px;    
    letter-spacing: 0.01em;
    color: #FFFFFF;
  }

//   %%%%%%%%%%%%%%%
// ION-ICON IMG
//   %%%%%%%%%%%%%%%

// ion-content {
//     //border: 1px dashed red;
// }

// ion-item {
//     //border: 1px dashed red;
    
// }

/* EMPTY SPACE */
ion-item.ion-item-empty {
    //border: 1px dashed red;
    max-height: 25px;
}

ion-item .ion-item-div {
    //border: 1px dashed red;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 7px;
}

// ion-item img {
//     //border: 1px dashed red;
//     //background: #673AB7;
// }

//   %%%%%%%%%%%%%%%
// MIDDLE H1
//   %%%%%%%%%%%%%%%
ion-item .ion-item-div-h1 {
    //border: 1px dashed red;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ion-item-div-h1 h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    //line-height: 1px;
    //display: flex;
    //align-items: center;
    text-align: center;
    //letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.7);
} 

.label {
    //border: 1px dashed red;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    //line-height: 1px;
    //display: flex;
    //align-items: center;
    //text-align: center;
    //letter-spacing: 0.01em;
    color: #000000;
    margin-bottom: 0px;

}

ion-input {
    width: 339px;
    //border: 1px dashed red;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    margin-top: 0px!important;
    margin-bottom: 0px!important;
    padding-bottom: 0px!important;
    padding-top: 0px!important;
}

.button{
    width: 100%;
    height: 50px;
    background-color: #673ab7;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    //box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
    margin: auto;
  }