<ion-header id="showcase">
  <div class="showcase-container">
    <div class="container">
    <div class="showcase-content">
      <p>Welcome</p>
      <h1>Bolaji Doyin</h1>
    </div>
  </div>
  </div>
</ion-header>

<ion-content>
  
<div class="box">

<p class="left">Current Ride</p>

<ion-card style="margin-bottom:50px;">
    <ion-card-content class="body">
        
          <!-- <ion-icon name="alert-circle-sharp" ></ion-icon> -->
          <img src="../../assets/Vector.png" alt="">
          <h2 class="greytext">No Current Ride</h2>
          <p class="text">To view ride schedule</p>
          <p class="text">Click on <span class="purpletext">My Ride </span>button below</p>
                    
    </ion-card-content>
</ion-card>

  <div>
    <ion-item style="margin-top:10px; margin-bottom:10px;">
  
      <div class="small-flex">
        <ion-label class="label" position="floating">Where To?</ion-label>
        <ion-input style="width:50%"></ion-input>
        <img src="../../assets/drop.png" alt="">
        <ion-icon class="label1" name="search-outline"></ion-icon>
      </div>
      
    </ion-item>
  </div>
  
</div>
  
</ion-content>



















































<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      MY HOME PAGE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content> -->





<!-- <div class="container">
  <form class="form" id="form">
      <h2>Kindly provide details below</h2>
      <div class="form-control">
          <label for="name">Full Name(First/ Last Name)</label>
          <input type="text" id="name">
          <small>Error message</small>
      </div>

      <div class="form-control">
          <label for="licence">Driver Licence</label>
          <input type="text" id="licence">
          <small>Error message</small>
      </div>

      <div class="form-control">
          <label for="email">Email Address</label>
          <input type="text" id="email">
          <small>Error message</small>
      </div>

      <div class="form-control">
          <label for="address">Address</label>
          <input type="text" id="address">
          <small>Error message</small>
      </div>

      <div class="form-control">
          <label for="number">Phone Number</label>
          <input type="number" id="number">
          <small>Error message</small>
      </div>

      <div class="form-control">
          <label for="ownerNumber">Car Owner Phone Number</label>
          <input type="number" id="ownerNumber">
          <small>Error message</small>
      </div>

      <div class ="form-control">
      <button type="submit">Next</button>
      <label class="last" for="account">Already Have an account? <a href="#">Sign In</a></label>
        </div>
  </form>
</div> -->

