// ion-content {
//     border: 1px dashed red;
    
// }

ion-content ion-card {
    //border: 1px dashed red;
    margin-top: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 340px;
}

ion-card ion-card-content {
    color: #FFFFFF;
}

ion-card-content h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    //line-height: 20px;
    //display: flex;
    //align-items: center;
    //text-align: center;
    color: #272727;
}

ion-item ion-label.label1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    //line-height: 20px;
    //display: flex;
    //align-items: center;
    //text-align: center;
    color: #262626;
}

ion-item ion-label.label2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    //line-height: 20px;
    //display: flex;
    //align-items: center;
    //text-align: center;
    color: #222222;
}


ion-item ion-input {
    border-bottom: 1px solid #D5D5D5;

}

ion-card-content button {
    width: 100%;
    height: 50px;
    border: none;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    //box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
    margin: auto;
    margin-top: 2rem;
    background: #283992;
    border-radius: 7px;
}
