<ion-content>

  <ion-card>

    <ion-card-content>
      
      <h1>Reset Password</h1>

      <ion-list>
        <ion-item>
          <ion-label class="label1" position="floating">New Password</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="label2" position="floating">Verify New Password</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-list>
      
      <button>Done</button>

    </ion-card-content>

  </ion-card>


</ion-content>
